body{
    font-family: '游ゴシック';

}





.web_legarea_01-06{


    display: grid;

    grid-template-rwos:repeat(6,auto); 


}





.header_01{
    width: 100%;
    height: 65px;



    background-color: #fff;  

    position: fixed;
    top:0;

}

.inner_frame-01{
    width: 1200px;
    height: 65px;
    margin: 0 auto;


    position: fixed;
    top:0;




}

.header_01 h1{

    padding: 18px 30px;
    float: left;



}
.header_01 ul{
    width:30%;
    height: 65px;


    list-style: none;

    display: flex;
    flex-wrap:warp;
    justify-content: flex-end;



    position: fixed;
    top:0;




}

.header_01 li{
    width: 120px;    
    font-size: 15px;
    padding:25px 0;
    float: left;


}
.header_01 .li_company{
    position: fixed;
    right: 200px;
}

.header_01 .li_shops{
    position: fixed;
    right: 300px;
}


.header_01 .li_contact{
    width: 160px;
    font-size: 16px;
    background-color: #b32727;
    color: #fff;
    padding:24px 0 25px 56px;

    position: fixed;
    right: 0;
}














.top-img_02{
    width: 100%;
    height:608px;


    margin:65px 0 100px 0;

    background-image: url(../images/topimg02.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}

.img_message{
    max-width:1000px;
    margin: 0 auto;

    padding: 262px 0 0 0;  
}
.img_message p{

    color:#fff;
    font-size: 60px;
    padding-bottom: 35px
}












.information_03{
    overflow:hidden;
}
.title_information{
    max-width: 1000px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    padding: 30px 0 40px 45px;

}
.keisen{
    letter-spacing: -5px;
    font-size: 20px;
    padding: 100px 0 0 0;

}
.font-style{
    font-style: oblique;
    padding-left: 30px;
}
.color{
    color: #b32727;
    font-size: 14px;
    padding-left: 30px;
}

.speace{
    font-size: 15px;
    padding-left: 95px;
    font-weight: bold;
}
.speace1{
    font-size: 15px;
    padding-left: 85px;
    font-weight: bold;
}
.speace2{
    font-size: 15px;
    padding:12px 0 0 140px;
    font-weight: bold;
}
.speace3{
    font-size: 15px;
    padding-left: 100px;
    font-weight: bold;
}

.speace4{
    font-size: 15px;
    padding: 12px 0 0 140px;
    font-weight: bold;
}

.speace5{
    font-size: 15px;
    padding-left: 110px;
    font-weight: bold;
}


.inner_frame-03{
    width:1000px;
    overflow:hidden;
    margin: 0 auto;

    padding-left:45px;
}
.info{

    height: auto;

    list-style: none;


    padding:0 0 100px 0;

    display: grid;
    grid-template:repeat(3,auto) / repeat(2,auto);
    grid-auto-flow:column;

}
.info li{
    width:95%;
    border-bottom: 1px #ccc solid;

}

.color2{
    font-size: 14px;
    font-weight: bold;
    color:#bbb;
}


.category1{
    border-top: 1px #ccc solid;  
    padding: 35px 0 55px 0;    
}
.category2{
    padding: 35px 0 37px 0;     
}
.category3{
    padding: 38px 0 50px 0;     
}
.category4{
    width: 490px;
    border-top: 1px #ccc solid;
    padding: 50px 0;   


}
.category5{
    padding: 35px 0 35px 0; 

}












.shops_04{

    overflow:hidden;
    padding-bottom: 100px;

}
.title_shops{
    max-width:1000px;
    margin: 0 auto;
    font-weight: bold;

}
.inner_frame-04{
    width:1000px;
    overflow:hidden;
    margin: 0 auto;

    padding-left:45px;
}

.shop01{
    width: 330px;
    height: 330px;

    margin-right: 16px;

    background-image: url(../images/shop_yuzu.jpg);
    background-size: 98% 90%;
    background-repeat:no-repeat;
    background-position-y:90px;

    float: left;
    font-weight: bold;

}
.btn_yuzu{

    height: 90px;

    background-image: url(../images/btn_yuzu.png);
    background-size: 100%;
    background-repeat:no-repeat;
    margin-top: 155px;

    



}


.shop02{
    width: 316px;

    overflow:hidden;

    margin-right:22px;

    background-image: url(../images/shop_teba.jpg);
    background-size: 100%;
    background-repeat:no-repeat;
    background-position-y:90px;

    float: left;
    font-weight: bold;
}
.btn_teba{

    height: 90px;

    background-image: url(../images/btn_teba.png);
    background-size: 100%;
    background-repeat:no-repeat;
    margin-top: 175px;

}
.shop03{
    width: 316px;
    overflow:hidden;



    background-image: url(../images/shop_hama.jpg);
    background-size: 100%;
    background-repeat:no-repeat;
    background-position-y:90px;

    float: left;
    font-weight: bold;
}
.btn_hama{
    height: 90px;

    background-image: url(../images/btn_hama.png);
    background-size: 100%;
    background-repeat:no-repeat;
    margin-top: 175px;

}

.shop02,.shop03 p{
    font-size: 18px;
    padding-top: 60px;
}
.shop01_2{
    font-size: 18px;
    padding-bottom: 20px;

}

.ctl_f-size{
    font-size: 14px;
    padding:40px 0 5px 0;
}



.shops_04 a:hover{

    opacity: 0.5;
    transition: 0.5s


}

















.contact_05{

    height: 350px;
    background-image: url(../images/contact_bg.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}
.inner_frame-05{
    width: 350px;


    margin: 0 auto;
}


.title_contact{

    text-align: center;
    padding: 80px 0 10px 0;
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;

}
.title_otoiawase{
    text-align: center;

    font-size: 14px;
    color: #941b1b;
    font-weight: bold;
}

.btn_contact{
    width: 350px;
    height: 60px;
    margin:30px auto;

    background-color: #b32727;
}
.btn_contact img{
    padding:10px 5px 0 65px;
    float:left;
}
.btn_contact p{

    padding-top: 25px;
    float:left;
    color:#fff;
} 

.contact_05 a :hover{
    opacity: 0.5;
    transition: 0.5s; 
}













.footer_06{


    overflow:hidden;
    background-color: #90A4b0;

    margin-top: 100px;
}
.inner_frame-06{
    width: 1000px;

    margin: 0 auto;

    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(500px,auto));
    padding-top: 60px;
}
.inner_frame-06 li{
    float:left;
    font-size: 18px;
    color:#fff;
    padding: 0 25px;
    list-style: none;
}
.inner_frame-06 img{

    margin: 0 0 60px 90%;
}