body{font-family:"小塚ゴシック Pr6N";}


.header{width: 234px;height:90px;margin: 0 auto;padding:30px 0;}


.topimage{width: 100%;height:auto;}


.product_list h2{text-align: center;padding: 45px 0;font-size: 30px;font-weight: normal;}
.product_list{width: 1000px; height: 1330px;margin: 0 auto;}
.back1{width: 1000px;height:530px;margin: 0 auto;padding-bottom: 60px;float: left;background-image: url(../images/back_img_01.jpg);background-size:530px;background-repeat: no-repeat;}
.back2{width: 1000px;height:530px;margin: 0 auto;padding-bottom: 80px;float: left;background-image: url(../images/back_img_02.jpg);background-size:530px;background-repeat: no-repeat;}

.product_data{width: 470px;height:530px;margin-left: 480px;color:#000;}

.p_name{font-size: 24px;padding-top:65px;}
.p_price{ border:#000 solid 1px;margin:48px 20px 40px 0;font-size: 16px;padding: 10px 15px;float:left;}
.p_introduction{display:inline-block; font-size: 14px;line-height: 30px;}



.related_product{background-color:#eddfd5;}
.related_product h2{padding: 50px 0 35px 0;font-size: 30px;font-weight: normal;text-align: center;}
.product_area{width: 1000px;height: 840px; margin: 0 auto;}
.rp_product{width: 300px;height: 420px;float:left;color: #000;}
.rp_product img{border-radius: 8px;}
.rp_product img:hover{opacity: 0.6 ; transition: 1.0s}
.marg{margin: 0 49px;}
   .rp_name{padding: 20px 0 13px 0;font-size:16px;font-weight: bold;}
   .rp_price{font-size:14px;}
   .rp_product a{text-decoration: none;color:#000;}

.footer{height:272px;background-color:#86786c;}
.button_area{width: 1000px; margin: 0 auto;}
.f_button{width: 480px;height: 133px;margin: 69px 0;float:left;background-color:#fff;color:#000;}
.f_button img{padding: 0 170px;}
.f_button p{text-align: center;font-size:22px;}
.point_card{margin-right: 40px;}

.f_button:hover{opacity: 0.6 ; transition: 1.0s}
