body{
    font-family: 'Meiryo';
   
}





.outer_frame{
    display: grid;

    grid-template-rwos:repeat(3,auto); 


}

.header_01{
    margin: 0 auto;
}
.header_01 img{
    width: 80px;
    height: 72px;

    padding: 20px;
}

.center_frame_02{
    
    height: auto;
    padding:80px 0 120px 0;

    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;



}
.center_frame_02 h2{
    text-align: center;
    padding: 0 0 60px 0;
    font-size:36px;
    color:#fff;
}

.introduce_product{

width:70%;
overflow:hidden;
margin: 0 auto;



    background-color: #fff;   

    padding: 1%;

 

    border-radius:5px;
}

.product_img img{
    width:45%;
    height: auto;
   margin: 0 auto;
    float:left;
     padding: 25px;
}
.product_date{
    width: 45%;
    height:auto; 
    margin: 0 auto;
    float:left;
     padding: 25px;

}
.title{
    color:#000;
    font-size: 26px;
    text-align: left;
}
.label{
    width: 50px;
    font-size: 14px;
    color:#fff;
    background-color: #bbb;
    margin: 20px 0;
    padding: 5px 15px;
    text-align: center;
}
.release{
    font-size: 18px;
    color:#999;
    padding-bottom: 20px;
    border-bottom: 1px #999 solid;
}
.description{
    
    font-size: 14px;
    line-height: 28px;
    padding: 20px 0 30px 0;
}
.tag{

    font-size: 16px;
    padding: 10px 14px;
    background-color:#ddd;

}
.track_list{
    font-size: 14px;
    padding: 30px 0 20px 0;
}











.footer_03{
    background-color: #e4e4e4;
}
.footer_03 p{

    text-align: center;
    padding: 40px 0;

}
















.position {
  
  text-align: center;
  margin-top: 15%;
}

#workarea {
  width:150px;
  
     font-size: 14px;
  
  background-color:#ff7691;
  
}

#personal {
  color:white;
  text-decoration:none;
  position:absolute;
  bottom:15px;
  right:2%;
}


.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  
  margin-right: 5px
}


#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #009FFD;
  stroke-dasharray:150 400;
  stroke-dashoffset: -190;
  transition: 1s all ease;
}


#text {
  margin-top: -35px;
  text-align: center;
}

#text a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}


#text p{
    padding-top: 5px;
}


.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #06D6A0;
}